### Part 1

In [54]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\coeco\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\coeco\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\coeco\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\coeco\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [55]:
text =  "Tokenization is the first step in text analytics. The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization"

from nltk.tokenize import sent_tokenize
tokenized_text = sent_tokenize(text)
tokenized_text

['Tokenization is the first step in text analytics.',
 'The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization']

In [56]:
from nltk.tokenize import word_tokenize
tokenized_word = word_tokenize(text)
tokenized_word

['Tokenization',
 'is',
 'the',
 'first',
 'step',
 'in',
 'text',
 'analytics',
 '.',
 'The',
 'process',
 'of',
 'breaking',
 'down',
 'a',
 'text',
 'paragraph',
 'into',
 'smaller',
 'chunks',
 'such',
 'as',
 'words',
 'or',
 'sentences',
 'is',
 'called',
 'Tokenization']

In [57]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))

In [58]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [59]:
text = " How to remove stop words with NLTK library in python?"
import re
text = re.sub('[^a-zA-Z]', ' ',text)
text

' How to remove stop words with NLTK library in python '

In [60]:
tokens = word_tokenize(text.lower())
tokens

['how',
 'to',
 'remove',
 'stop',
 'words',
 'with',
 'nltk',
 'library',
 'in',
 'python']

In [61]:
filtered_text=[]
for w in tokens:
     if w not in stop_words:
            filtered_text.append(w)

In [62]:
filtered_text

['remove', 'stop', 'words', 'nltk', 'library', 'python']

In [63]:
from nltk.stem import PorterStemmer
e_words = ["wait","waiting","waited"]
ps = PorterStemmer()
for w in e_words:
    rootWord = ps.stem(w)
    print(rootWord)

wait
wait
wait

In [64]:
from nltk.stem import PorterStemmer
e_words = ["studies","studying", "cries","cry"]
ps = PorterStemmer()
for w in e_words:
    rootWord = ps.stem(w)
    print(rootWord)

studi
studi
cri
cri

In [15]:
import nltk
from nltk.tokenize import word_tokenize
data = "The pink sweater fits her perfectly"
words = word_tokenize(data)
for word in words:
    print(nltk.pos_tag([word]))

[('The', 'DT')]
[('pink', 'NN')]
[('sweater', 'NN')]
[('fits', 'NNS')]
[('her', 'PRP$')]
[('perfectly', 'RB')]

### Part 2

In [16]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the fourth planet from the sun'

In [18]:
bagofWordsA = documentA.split(' ')
bagofWordsB = documentB.split(' ')

In [19]:
uniqueWords = set(bagofWordsA).union(bagofWordsB)

In [20]:
uniqueWords

{'Jupiter',
 'Mars',
 'Planet',
 'fourth',
 'from',
 'is',
 'largest',
 'planet',
 'sun',
 'the'}

In [21]:
numofWordsA = dict.fromkeys(uniqueWords,0)
for word in bagofWordsA:
     numofWordsA[word] += 1

In [22]:
numofWordsA

{'Planet': 1,
 'fourth': 0,
 'largest': 1,
 'from': 0,
 'Mars': 0,
 'sun': 0,
 'planet': 0,
 'the': 1,
 'Jupiter': 1,
 'is': 1}

In [23]:
numofWordsB = dict.fromkeys(uniqueWords,0)
for word in bagofWordsB:
     numofWordsB[word] += 1

In [24]:
 numofWordsB

{'Planet': 0,
 'fourth': 1,
 'largest': 0,
 'from': 1,
 'Mars': 1,
 'sun': 1,
 'planet': 1,
 'the': 2,
 'Jupiter': 0,
 'is': 1}

In [25]:
def computeTF(wordDict,bagofWords):
    TfDict = {}
    bagofWordsCount = len(bagofWords)
    for word, count in wordDict.items():
        TfDict[word] = count/float(bagofWordsCount)
    return TfDict

In [26]:
tfA = computeTF(numofWordsA,bagofWordsA)
tfB = computeTF(numofWordsA,bagofWordsB)

In [27]:
tfA

{'Planet': 0.2,
 'fourth': 0.0,
 'largest': 0.2,
 'from': 0.0,
 'Mars': 0.0,
 'sun': 0.0,
 'planet': 0.0,
 'the': 0.2,
 'Jupiter': 0.2,
 'is': 0.2}

In [28]:
tfB

{'Planet': 0.125,
 'fourth': 0.0,
 'largest': 0.125,
 'from': 0.0,
 'Mars': 0.0,
 'sun': 0.0,
 'planet': 0.0,
 'the': 0.125,
 'Jupiter': 0.125,
 'is': 0.125}

In [29]:
def computeIDF(documents):
    import math
    N = len(documents)
    idfDict=dict.fromkeys(documents[0].keys(),0)
    for document in documents:
        for word , val in document.items():
            if val > 0:
                idfDict[word]  += 1
    for word,val in idfDict.items():
            idfDict[word] = math.log(N/float(val))
    return idfDict

In [30]:
idfs = computeIDF([numofWordsA,numofWordsB])
idfs

{'Planet': 0.6931471805599453,
 'fourth': 0.6931471805599453,
 'largest': 0.6931471805599453,
 'from': 0.6931471805599453,
 'Mars': 0.6931471805599453,
 'sun': 0.6931471805599453,
 'planet': 0.6931471805599453,
 'the': 0.0,
 'Jupiter': 0.6931471805599453,
 'is': 0.0}

In [31]:
def computeTFIDF(tfBagofWords,idfs):
    tfidf ={}
    for word,val in tfBagofWords.items():
        tfidf[word] =val*idfs[word]
    return tfidf

In [32]:
tfDifA = computeTFIDF(tfA,idfs)

In [33]:
tfDifB = computeTFIDF(tfA,idfs)

In [34]:
tfDifA

{'Planet': 0.13862943611198905,
 'fourth': 0.0,
 'largest': 0.13862943611198905,
 'from': 0.0,
 'Mars': 0.0,
 'sun': 0.0,
 'planet': 0.0,
 'the': 0.0,
 'Jupiter': 0.13862943611198905,
 'is': 0.0}

In [35]:
tfDifB

{'Planet': 0.13862943611198905,
 'fourth': 0.0,
 'largest': 0.13862943611198905,
 'from': 0.0,
 'Mars': 0.0,
 'sun': 0.0,
 'planet': 0.0,
 'the': 0.0,
 'Jupiter': 0.13862943611198905,
 'is': 0.0}

In [36]:
df = pd.DataFrame([tfDifA,tfDifB])

In [37]:
df

     Planet  fourth   largest  from  Mars  sun  planet  the   Jupiter   is
0  0.138629     0.0  0.138629   0.0   0.0  0.0     0.0  0.0  0.138629  0.0
1  0.138629     0.0  0.138629   0.0   0.0  0.0     0.0  0.0  0.138629  0.0